@use "../components/global" as *;

.search-results {

    .page-header {
        padding:0;
        max-width:$default-width;
        margin-top:$double-spacing;
        margin-left:auto;
        margin-right:auto;
        text-align: center;

        .page-title {
            margin-bottom: $double-spacing;
            font-size: $h4;
            line-height: $lh4;

            span {
                font-size: $h1;
                line-height: $lh1;
                color:$primary;
            }
        }
    }

    article {
        margin-bottom: $double-spacing;
    
        &.course {
            margin:0;
            padding:0;
            border:none;
        }        

        .inside-article {
            max-width:$slim-width;           
            margin-left:auto;
            margin-right:auto;
        }
    }

    .searchresult {
        display: flex;
        flex-wrap: wrap;
        gap:$spacing;
        margin-bottom:$double-spacing;

        @media( max-width:$md ) {
            flex-direction: column;
            gap:$spacing;
        }

        .searchresult-thumb-wrapper {
            width:150px;
            height:150px;
            background-color: $secondary;
            overflow: hidden;
        
            .post-image {
                width:100%;
                height:100%;                

                img {
                    width:100%;
                    height:100%;
                    object-fit: cover;
                    object-position: center;
                    transition: $transition;

                    &:hover,
                    &:focus {
                        transform: scale(1.2);
                    }
                }
            }
        }        
    
        .searchresult-content-wrapper {
            flex:1;            
        
            .entry-header {
            
                .page-heading-wrapper {
                    margin: 0 0 15px 0;
                    text-align: left;

                    .entry-title {
                        font-size: $h4;
                        line-height: $lh4;
                        margin-bottom:0;

                        a {
                        
                            &:hover,
                            &:focus {
                                color:$primary;
                            }
                        }
                    }
                }
            }

            .searchresult-content {

            }
        }
    }
}