/*
Theme Name: Amurre Theme
Theme URI: https://wordpress.com/
Template: generatepress
Author: Automattic
Author URI: https://wordpress.com/
Description: GeneratePress child theme
Version: 1.0
Text Domain: amurrecom
*/

@media (max-width: 768px) {
	.site-header .inside-header .site-branding-container .site-branding {
		text-align: left !important;
	    margin: 0 12px 0 15px !important;
	}
	
	.site-header .inside-header .site-branding-container .site-branding .main-title {
		justify-content: flex-start !important;
	}
}

.sync-title {
	font-size: 14px;
    line-height: 20px;
}

.footer-about .wp-block-image:nth-child(n+2) {
  display: none !important;
}

.site-header .inside-header .site-branding-container .site-logo img {
	width: inherit !important;
}

.shop-wrapper .shop-sidebar .shop-sidebar-content a {
	align-items: flex-start !important;
	padding: 15px 14px 15px 14px !important;
}

.shop-wrapper .shop-sidebar .shop-sidebar-heading {
	padding: 20px 14px !important;
}

.shop-wrapper .shop-sidebar .shop-sidebar-content a>span:first-child {
	flex: 1;
}

.shop-wrapper .shop-sidebar .shop-sidebar-content a>span:nth-child(2){
	padding-top: 1px;
	padding-left:10px;
}