@use "../components/global" as *;

.about-top-wrapper {
    margin-bottom: 24px !important;

    & > .wp-block-column:last-child {

        & > .wp-block-columns {
        
            & > .wp-block-column:last-child { 
                flex:0 0 280px;
            }
        }
    }

    @media( max-width:$lg ) {

        & > .wp-block-column:first-child { 
            flex:2;
        }

        & > .wp-block-column:last-child { 
            flex:3;
        }
    }

    @media( max-width:$md ) {
        flex-direction: column;

        & > .wp-block-column:first-child { 
            flex:1;

            img {
                width: 100%;
            }
        }

        & > .wp-block-column:last-child { 
            flex:1;
        }
    }
}

.about-ourstory-heading {
    padding-top:19px;
    margin-bottom: 21px;
}

.about-contactus-columns {

    .wp-block-column:first-child {
        flex:0 0 380px !important;
    }

    @media( max-width:$md ) {
        .wp-block-column:first-child,
        .wp-block-column:last-child {
            flex:1 !important;
        }
    }

    @media( max-width:$sm ) {
        .wp-block-column:first-child,
        .wp-block-column:last-child {
            flex-basis:100% !important;
        }

        .wp-block-column:last-child {
            order:1;
        }

        .wp-block-column:first-child {
            order:0;
        }
    }
}