@use "../components/" as *;

.contactus-columns {

    .wp-block-column:last-child {
        flex:0 0 380px !important;
    }

    @media( max-width:$md ) {
        .wp-block-column:first-child,
        .wp-block-column:last-child {
            flex:1 !important;
        }
    }

    @media( max-width:$sm ) {
        .wp-block-column:first-child,
        .wp-block-column:last-child {
            flex-basis:100% !important;
        }

        .wp-block-column:first-child {
            order:1;
        }

        .wp-block-column:last-child {
            order:0;
        }
    }
}

.contactus-wrapper {    
    background-color: #e8f0fe;
    border-radius: 4px;
    border:1px solid $formborder;    

    br {
        display: none;
    }

    .contactus-form {
        padding:20px 30px 10px;

        .contactus-heading {
            margin-bottom: 20px;
            padding-right: 24px;
            position: relative;
        
            .contactus-heading-to {

                p {
                    margin-bottom: 0;
                    font-size: $h3;    
                    line-height: $lh3;
                    letter-spacing: 0.2px;
                    color:$dark;
                    font-weight: 500;                    
                }
            }

            .contactus-heading-email {
                margin-left:34px;
                color:$foreground;
                letter-spacing: 0.2px;

                p {
                    margin-bottom: 0;
                }
            }

            .contactus-close {
                display: none;
                cursor: pointer;
                position: absolute;
                top:0;
                right:0;

                svg {
                    width:24px;
                    height:24px;
                    fill:$foreground;
                }
            }
        }

        .form-row {

            .form-column {
                width:calc( ( 100% - 20px ) / 2 );
            }
        }

        textarea {
            height:90px;
        }

        small {
            font-size: $h6;
            line-height: $lh5;
            letter-spacing: 0.2px;
        }

        & > p:last-child {
            margin:0;
        }
    }

    .contactus-action {
        padding:10px 30px 20px;
        border-top:1px solid $formborder;
        text-align: center;

        input[type="submit"] {
            width:100%;
        }

        p {
            margin:0;
        }
    }
}
