@use "../components/" as *;

.home {

    #page {
    
        .site-content {
        
            #primary {
            
                #main {
                
                    .inside-article {
                    
                        & > .entry-header {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.our-story-wrapper {
    gap:16px;

    @media( max-width:$sm ) {
        gap:8px;

        & + .wp-block-spacer {
            display: none;
        }
    }

    .wp-block-embed {
        border:1px solid $lightgray;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 30px;

        @media( max-width:$sm ) {
            margin-bottom: 20px;
        }
    }
}