@use "../components/global" as *;

/* Page */
    #page {
        padding-top:100px;

        @media( max-width:$sm ) {
            padding-top:76px;
        }

        .entry-header {

            @media( max-width:$sm ) {
                margin-bottom: 18px;
            }
        
            .entry-title {
                text-align: left;
                font-size: $h1;
                line-height: $lh1;
                font-weight: 500;
                margin-bottom: 40px;

                @media( max-width:$sm ) {
                    font-size: $h2;
                    line-height: $lh2;
                    margin-bottom: 18px;
                }
            }
        }
    }

    .page-heading-wrapper {
    
        .yoast-breadcrumbs  {
            color:$background;
            padding:0 15px;
            background-color: rgba(0,0,0,0.2);
            border-radius: 100px;
            margin-bottom: 5px;            
            display: inline-block;

            a {                
                color:$background;

                &:hover,
                &:focus {
                    color:$primary;
                }
            }

            .breadcrumb-arrow {

                &:before {
                    border-right:1px solid $background;
                    border-bottom:1px solid $background;
                }
            }

            .breadcrumb_last {
                color:$background;
            } 
        }
    }

    .yoast-breadcrumbs {        
        font-size: $h6;
        line-height: $lh6;
        color:$dark;

        a {
            text-decoration: none;
            color:$dark;

            &:hover,
            &:focus {
                color:$secondary;
            }
        }

        .breadcrumb-arrow {
            width:8px;
            height:12px;
            position: relative;
            display: inline-block;
            margin-right:1px;

            &:before {
                content:'';
                border-right:1px solid $dark;
                border-bottom:1px solid $dark;
                width:7px;
                height:7px;
                transform: rotate(-45deg);
                display: inline-block;
                position: absolute;
                top:3px;
                left:-2px;
            }
        }

        .breadcrumb_last {
            color:$dark;
            font-weight: 500;
        }    
    }
    
    .archive-type {
        font-size:$h5;
        color:$dark;
    }

    .archive {        

        .page-title {

            font-size:$h5;
            color:$dark;

            span:not(.archive-type) {
                color:$secondary;
                font-size:$h1;
            }
        }
    }

/* Paging */
    .paging-numbered {
        text-align:center;	
        margin: 100px 0 100px 0;
        display:flex;
        align-items:center;
        justify-content:center;

        .page-numbers {
            padding:8px;
            min-width:43px;
            height:43px;            
            border:1px solid $primary;
            margin-left:2px;	
            margin-right:2px;
            line-height:25px;

            &.current {
                background-color:$primary;
                border:1px solid $primary;
                color:$background;
                cursor:default;			
                transition:all 0.2s ease 0s;
            }

            &.next,
            &.prev {                

                svg {
                    width:10px;

                    path {
                        fill:$primary !important;
                    }
                }

                &:hover,
                &:focus {
                
                    svg {

                        path {
                            fill:$background !important;
                        }
                    }
                }
            }

            &:hover {
                background-color:$primary;
                border:1px solid $primary;
                color:$background;	
            }
        }
    }

/* 404 */
.error404 {

    #main {
        text-align: center;
        padding:100px 0;

        .entry-title {
            text-align: center;
        }

        .search-form {
            display: flex;
            gap:8px;
            align-items: center;
            justify-content: center;
        }

        .search-field {
            width:100%;
            max-width: 300px;
        }

        .search-submit {
            padding:9px 16px;
        }
    }
}