@use "../components/global" as *;

.single {

    .entry-header {
        margin-bottom:$spacing;

        .featured-image {
            margin-top:0;
        }

        .entry-title {
            font-weight: 700;
            line-height: 1.2;
            margin:5px 0;
        }

        .entry-meta {
            font-size: $h6;
            line-height: $lh6;
            color:$dark;        
            margin-top:0;

            a {
                color:$dark;

                &:hover,
                &:focus {
                    color:$secondary;
                }
            }
        }
    }

    footer.entry-meta {
        margin:0;
        padding:$spacing 0 0 0;
        border-top:2px solid $dark;
    
        .cat-links,
        .tags-links {
            font-size: $h6;
            line-height: $lh6;
            color:$dark;

            a {
                color:$dark;

                &:hover,
                &:focus {
                    color:$secondary;
                }
            }
        }
    }
}

.single {

    #page {
    
        .site-content {

            #primary {
                padding:0;
            }    
        }
    }    

    .entry-content {
        margin:0 0 $double-spacing 0;  
    }

    .post-navigation {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        margin-top: 25px;
        border-top: 1px solid #e2e2e2;

        .nav-next {
            display: flex;
            flex-flow: row-reverse;

            .icon-arrow-right {
                margin-left: 0.6em; 
                margin-right: 0px;
            }
        }
    }

    #jetpack_remote_comment {
        height: auto;
    }
}

.single-meta-bottom {
    margin:0 0 $double-spacing 0;

    .entry-meta {
        a {
            font-size: $h6;
            text-decoration: none;
        }
    }

    footer {

        &.entry-meta {
            margin:0;
        }
    }
}

/* Comment */
    .comments-area {
        max-width:650px;
        margin:0 auto $double-spacing !important;
        padding:0 !important;
    }

    .logged-in-as {
        font-size: $h6;
        line-height: $lh6;
        margin-bottom: 10px;
        color:$dark;
    }

    #comment {
        height:200px;
        background-color: $background;
        color:$dark;
        border:1px solid $dark;

        &:hover,
        &:focus {
            border-color:$primary;
        }
    }

    .comment-subscription-form,
    .comment-subscription-form {
        font-size: $h6;
        margin-bottom: 5px !important;

        input {
            margin-bottom: 0;
        }
    }

    .comment-meta {
        display: flex;

        img {
        
        }

        .comment-author-info {
            flex:1;
        }
    }

    .comment-content {
        padding:10px 0 15px 60px;
    }

    .comment-author {
        margin-bottom: 5px;
    }

    .entry-meta.comment-metadata {
        font-size: $h6;
        color:$dark;
    }

    .comment-meta .avatar {
        float:none;
        box-shadow:none !important;
        width:auto !important;
        height:auto !important;
        border-radius: 50% !important;
        padding:0 !important;
        border:none !important;
        margin:0 10px 0 0 !important;
    }

    .grav-clone-a {

        img {
            box-shadow:none !important;
            width:auto !important;
            height:auto !important;
            border-radius: 50% !important;
            padding:0 !important;
            border:none !important;
            margin:0 10px 0 0 !important;
        }
    }

    .comment-metadata a {
        font-size: $h6;
        color:$dark;

        &:hover,
        &:focus {
            color:$primary;
        }
    }

    .comment-content .reply {
        font-size: $h6 !important;    
    }

    .comment-content .reply {
        display: flex;
        margin-top:10px;
    }

    .comment-reply-link {
        padding:4px 15px;
        background-color: $secondary;
        border:1px solid $secondary;
        color:$dark;

        &:hover,
        &:focus {
            border-color:$primary;
            background-color: $primary;
            color:$background;
        }
    }

    .comments-title,
    #reply-title {
        font-size:$h4;
        line-height: $lh4;
    }

    #reply-title {
        margin-bottom: 5px;
    }
