@use "global" as *;


.editor-styles-wrapper,
.block-editor .editor-styles-wrapper {

    /* Slider */
    .slider-group-block-wrapper {
        background-color: #f4f4f4;
        padding:$spacing;

        ul.slides {
            padding:0;
            margin:0;
            list-style-type: none;

            li {
            
                .slider-item-wrapper {
                    width:100%;
                    min-height:200px;
                    max-height: 200px;                    
                    border:1px dashed $dark;
                    overflow: hidden;

                    img {
                        width:100%;
                        height:100%;
                        max-height: 200px;
                        object-fit: contain;
                        object-position: left top;
                    }
                }
            }
        }
    }

    /* Featured Products */
    @import "block_featured_products.scss";

    .featured-products-block-wrapper {
        border:1px dashed $dark;
        padding:$spacing;
        min-height: 200px;
    }

    /* Featured Products by Category */
    @import "block_featured_products_by_category.scss";

    .featured-products-by-category-block-wrapper {
        border:1px dashed $dark;
        padding:$spacing;
        min-height: 200px;

        li {
            list-style-type: none;
            width:202px;
        }
    }

    /* Company Info */
    @import "block_company_info.scss";
    
    .company-stats,
    .company-stats-full {

        .wp-block-group {            

            .wp-block > *:first-child,
            & > *:first-child {
                font-weight: 700;
            }
        }
    }

    /* Accordion */
    @import "block_accordion.scss";

    .accordion-block-wrapper {
        background-color: #f4f4f4;
        padding:$spacing;        

        .accordion-item-wrapper {            
            width:100%;
            min-height:200px;
            border:1px dashed $dark;

            .accordion-item-content {
                display: block;
                padding:20px;                
            }
        }
    }

    /* Contact Box */
    @import "block_contact_box.scss";

    .contact-box-wrapper {
        min-height: 100px;
        width:100%;

        & * {
            box-sizing: border-box;
        }
    }

    /* Class - Specifications */    
    .specifications {
        display: flex;
        flex-wrap: wrap;
        column-gap:80px;
        row-gap: 8px;

        .wp-block-group__inner-container {
            display: flex;
            flex-wrap: wrap;
            column-gap:80px;
            row-gap: 8px;

        }

        .wp-block-group {
            width:calc( ( 100% - 160px ) / 3 );
            border-bottom: 1px solid $lightgray;
            display: flex;
            flex-wrap: wrap;
            padding-bottom:8px;
            align-items: center;
            margin-left:0;
            margin-right: 0;;

            @media( max-width:$md ) {
                width:calc( ( 100% - 80px ) / 2 );
            }

            @media( max-width:$sm ) {
                width:100%;
            }

            .wp-block > *:first-child,
            & > *:first-child {
                font-weight: 700;
                color:$dark;
                width:114px;
                padding-right: 20px;
                hyphens: auto;

                @media( max-width:$sm ) {
                    width:140px;
                }
            }

            .wp-block > *:last-child,
            & > *:last-child {
                flex:1;
            }


            p {
                margin:0;
            }
        }
    }

    /* BLOCK - Gallery */
    .wp-block-gallery {
        gap:4px !important;
    
        .wp-block-image:first-child {
            width:100% !important;
        }
    }
}
