@use "global" as *;

/* Accordion Group */
    .accordion-block-wrapper {
        margin-bottom: 20px;
    }

/* Accordion Item */
    .accordion-item-wrapper {

        &.active {

            svg {
                transform: rotate(180deg);                    
            }
        }
        
        .accordion-item-title {
            padding:12px 0;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-bottom:1px solid #e0e0e0;

            @media( max-width:$sm ) {
                padding:0 0 5px 0;
            }

            svg {
                fill:#3c4043;
                width:24px;
                height:24px;
            }

            .accordion-item-title-primary {
                font-size: $h3;
                line-height: $lh3;
                font-weight: 500;
                margin-right: 6px;
                color:$dark;

                @media( max-width:$sm ) {
                    font-size: $h4;
                    line-height: $lh4;
                }
            }

            .accordion-item-title-secondary {
                margin-top:3px;
            }
        }

        .accordion-item-content {
            padding-top:11px;
            padding-left:2px;
            padding-right: 2px;
            padding-bottom: 8px;
            display: none;
            border-bottom:1px solid #e0e0e0;

            & > *:last-child:not(ul,ol) {
                margin:0;
            }

            p,
            ul,
            ol,
            table {
                font-size: $h5;
            }

            .wp-block-image {
                margin-bottom:$spacing;
            }

            .wp-block-table {

                @media( max-width:$sm ) {
                    margin-left:-32px;
                    margin-right:-32px;
                    width:calc( 100%  + 64px );
                }
            
                table {
                    width:auto;
                    max-width: 656px;
                    margin:0 auto $spacing;                    

                    @media( max-width:$sm ) {
                        width:100%;
                        margin-left:0;
                        margin-right:0;

                        tr {

                            td {
                                padding:10px 6px;

                                &:first-child {
                                    padding-left:32px;
                                }

                                &:last-child {
                                    padding-right: 32px;
                                }                            
                            }
                        }
                    }
                }
            }
        }

        .is-style-card {
            border-radius: 8px;
            
        }

        .is-style-note {
            border-radius: 8px;
        }
    }