@use "global" as *;

/* Company Info */
    .company-info-block-wrapper {
        padding:40px 0 0 0;
        border-top:1px solid $lightgray;
        max-width:min(calc( 100vw - 32px ), 1180px );
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 0;

        @media( max-width:$md ) {
            padding:20px 0 0 0;
        }

        @media( max-width:$sm ) {
            max-width:100%;
            padding-left:16px;
            padding-right:16px;
        }

        & > .wp-block-column:first-child {
            flex:0 0 280px;
        }

        & > .wp-block-column:last-child {

            & > .wp-block-heading {
                margin-bottom: 11px;
            }

            & > .wp-block-columns {
                gap:40px;

                @media( max-width:$md ) {
                    flex-direction: column;   
                    gap:7px; 
                } 
            
                & > .wp-block-column:first-child {
                    flex:0 0 360px;

                    @media( max-width:$md ) {
                        flex:auto;
                    } 

                    p {
                        margin-bottom: 13px ;
                    }
                }
            }                        
        }

        a {
            text-decoration: none;
        }          
    }    

    .company-stats,
    .company-stats-full {
        display: flex;
        flex-wrap: wrap;

        .wp-block-group__inner-container {
            padding:0 !important;
            margin:0 !important;
            display: flex;
            flex-wrap: wrap;
            
            .wp-block-group {
                width:calc( ( 100% - 60px ) / 4 );

                @media( max-width:$sm ) {
                    width:calc( ( 100% - 20px ) / 2 );
                }
            }
        }

        .wp-block-group {
            width:50%;
            padding-right:4.8px;
            margin-bottom: 20px;
            gap:5px;

            .wp-block > *:first-child,
            & > *:first-child {
                font-weight: 500;
                color:$dark;
            }
        }
    }

    .company-stats-full {        
        padding:20px 0 0 0;
        margin:0 0 60px 0;

        .wp-block-group__inner-container  {
            column-gap:20px;

            .wp-block-group {
                padding-right: 0;
            }
        }        
    }