@use "global" as *;

.featured-products-by-category-block-wrapper {

    .featured-products-by-category-block-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    
        h2 {
            margin:0;
        }
    }

    .featured-products-by-category-block-content {
        display:flex;
        gap:20px;
        width:100%;

        .flexslider {
            margin-bottom:0;
            width:100%;

            .flex-direction-nav a.flex-prev {
                left:-18px;
            }

            .flex-direction-nav a.flex-next {
                right:-18px;
            }

            &:hover,
            &:focus {

                .flex-direction-nav a.flex-prev {
                    left:-18px;
                }

                .flex-direction-nav a.flex-next {
                    right:-18px;
                }
            }
        }

        .featured-product-by-category-link {
            display: block;           
            text-decoration: none; 
            border-radius: 8px;
            margin:10px 0;

            &:hover,
            &:focus {
                box-shadow:0 4px 8px 3px $lightgray;
            }

            .featured-product-by-category-wrapper {
                display: flex;
                border-radius: 8px;
                overflow: hidden;
                border:1px solid $lightgray;
                flex-direction: column;
            
                .featured-product-by-category-image {
                    flex:1;

                    img {
                        width:100%;
                        height:100%;
                        object-fit: cover;
                        aspect-ratio: 1/1; 
                    }
                }

                .featured-product-by-category-content {
                    flex:1;       
                    padding:11px 16px;                       

                    .featured-product-by-category-content-inner {
                        
                    
                        h4 {
                            margin:0;
                            height:40px;
                            max-height: 40px;                            
                            /*text-overflow: ellipsis;*/
                            overflow: hidden;
                            /*white-space: nowrap;*/
                        }

                        .product-list-price-wrapper {
                            padding:8px 0 0 0;
                            align-self: flex-end;
                            color:$foreground;
                            display: flex;                            
                            flex:1;
                            width: 100%;
                            align-items: flex-end;

                            .product-list-price {
                               
                            }
                        }
                    }                    
                }
            }
        }
    }

    
}

.showmore {
    font-size: $h5;
    line-height: $lh5;
    font-weight: 500;
    color:$primary;
    position: relative;

    &:after {
        content:'';
        -webkit-mask-image:url(../../img/showmore.svg);
        mask-image:url(../../img/showmore.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat; 
        -webkit-mask-position:center;
        mask-position: center;
        -webkit-mask-size:20px 20px;
        mask-size:20px 20px;            
        width:20px;
        height:20px;
        background-color:$primary;            
        position:absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);            
        display: block;
    }
}