@use "global" as *;

.contact-box-wrapper {
    background-color: #e8f0fe80;
    border:1px solid $formborder;
    border-radius: 8px;
    padding:16px 12px 10px 12px;
}

.contact-box-section {
    padding-bottom: 6px;
    border-bottom: 1px solid $formborder;

    &:first-child {
    
        .contact-box-title {
            padding-top:0;
        }
    }

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .contact-box-title {
        padding-top:16px;
        margin-bottom: 16px;
        font-weight: 700;
        color:$dark;
        letter-spacing: 1px;
    }

    .contact-box-list {
        display: flex;
        column-gap: 6px;
        row-gap:0px;
        flex-wrap: wrap;   

        a {
            text-decoration: none;
            width:100%;
            max-width: calc( ( 100% - 6px ) / 2 );
            display: block;

            &.contact-box-contactform-link {
                max-width: 100%;
            }
        
            .contact-box-button {
                width: 100%;    
                padding:11px 10px;
                margin-bottom: 8px;
                color:$background;
                display: flex;           
                align-items: center;              
                border-radius: 4px;    
                font-size: $h6;

                img {
                    margin-right: 8px;
                    width:20px;
                    height:20px;
                    object-fit: contain;
                }

                &.fullwidth {
                    max-width: 100%;
                }

                &.contact-box-alibaba {
                    background-color: #ef4e2d;
                }

                &.contact-box-madeinchina {
                    background-color: #fff;
                    padding:11px 5px 11px 10px;

                    img {
                        width:104px;
                    }
                }

                &.contact-box-fb {
                    background-color: #2962ff;
                }

                &.contact-box-wa {
                    background-color: #00b703;
                }

                &.contact-box-contactform {
                    background-color: #185abc;
                    font-weight: 500;
                    font-size: $h5;
                    line-height: 24px;
                    margin-bottom: 0;

                    &:hover,
                    &:focus {
                        background-color: #174ea6;
                    }
                }

                
            }
        }
    }
}

/* Enlarge Components */
.contact-box-enlarge-limit {
    position: relative;
}

.contact-box-contactform-form {
    display: none;
}