@use "global" as *;

/* Separator */
    .wp-block-separator {
        border-top:none;
        margin-top:39px;
        border-bottom:1px solid $lightgray;
    }

/* Columns */
    @media( max-width:$sml ){
        .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
            flex-basis: initial !important;
        }
    }

    @media( max-width:$sm ){
        .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
            flex-basis: 100% !important;
        }
    }
    

    /* Padding & Spacing */
    .wp-block-columns.is-layout-flex {
        gap:$spacing;

        @media( max-width:$sm ) {
            gap:$half-spacing;
        }
    }
    .wp-block-columns {
        margin-bottom:$spacing;
    }   

    
    /* Style Center */
    .wp-block-columns.is-style-center {
        justify-content: center;
    }

/* Buttons */
    .wp-block-button {

        .wp-block-button__link:not(.has-background) {
            background-color: $primary;            
            color:$background;
            border:1px solid $primary;

            &:hover,
            &:focus {
                background-color: $background;
                border-color:$primary;
                color:$primary;
            }
        }

        .wp-block-button__link {
            border-radius:0;
            padding:12px 24px;

            @media( max-width:$sm ) {
                padding:12px 15px;
            }
        }
    }

    .wp-block-button.is-style-outlines {
    
        .wp-block-button__link {
            border:1px solid $primary;
            background-color: transparent;
            color:$primary;

            &:hover,
            &:focus {
                background-color: $primary;
                color:$background;
            }
        }
    }

/* Spacer */
    .wp-block-spacer {
        margin-bottom:0 !important;
    }    

/* Table */
    .wp-block-table {        

        &.table-slice-half {

            table {
            
                td {
                    width: 50%;
                }
            }
        }

        &.noborder {
            
            table {
                border:none;
            }
        }
    
        table {
            border:1px solid $dark;
            margin:0 0 $spacing 0;
        
            tbody {
            
                tr:nth-child(odd) {
                    background-color: #eeeeee;
                }

                tr:nth-child(even) {
                    background-color: $background;
                }

                tr {
                
                    td {
                        border:none;
                        padding:10px 12px;

                        &:first-child {
                            padding-left:16px;
                        }

                        &:last-child {
                            padding-right:16px;
                        }
                    }
                }
            }
        }
    }

    .wp-block-column .wp-block-table:last-child table {
        margin:0;
    }

/* Contact Form 7 */
    .wpcf7-form {

        & > p {
            margin-bottom:10px;
        }
    
        label {
            font-size: $h6;
            font-weight: 700;
            
            span {
                font-weight: 400;
            }

            .wpcf7-form-control-wrap {
                display: block;
                padding:9px 0 0 0;
            }

            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="password"] {
                width: 100%;
            }
        }        

        .form-submit {            
            display: flex;
            justify-content: center;
            align-items: center;

            input[type="submit"] {
                display: inline-block;
            }
        }
    }

/* Gallery */
    .wp-block-gallery {
        gap:4px !important;
    
        & > .wp-block-image {
            width:calc( ( 100% - 8px ) / 3 ) !important;
        
            &:first-child {
                width:100% !important;
            }
        }
    }