@use "global" as *;

/* Footer */
    .site-footer {
        background-color: $lightblue;

        #footer-widgets {
        
            .footer-widgets-container.grid-container {
                max-width: 100%;
                padding:42px 12px;

                .inside-footer-widgets {
                    margin:0;
                    flex-direction: column;

                    .footer-widget-1 {
                        border-bottom: 1px solid $lightgray;
                        padding:0 0 40px 0;

                        .wp-block-heading {
                            letter-spacing: 0.2px;
                        }
                    }

                    .footer-widget-2 {
                        padding-top:16px;

                        @media( max-width:$sm ) {
                            text-align: center;
                        }
                    
                        aside:first-child {
                            max-width: 640px;
                            margin-left:auto;
                            margin-right: auto;                            
                        }

                        a {
                            color:$foreground;
                            text-decoration: none;
                            font-size: $h6;
                            line-height: $lh6;
                            letter-spacing: 0.2px;
                            padding-top:7px;

                            

                            &:hover,
                            &:focus {
                                color:$foreground;
                                text-decoration: none;
                            }
                        }

                        p {
                            font-size: $h6;
                            line-height: 16px;
                            letter-spacing: 0.3px;
                        }
                    }

                    .inner-padding {
                        padding:0;
                    }

                    .wp-block-social-links {
                        gap:16px;

                        @media( max-width:$sm ) {
                            gap:8px;
                        }

                        .wp-block-social-link {
                            margin:0;

                            &:hover {
                                transform: none;
                            }

                            .wp-block-social-link-anchor {
                                flex-direction: column;

                                svg {
                                    width:32px;
                                    height:32px;
                                    margin-bottom: 16px;
                                }

                                .wp-block-social-link-label {
                                    color:$foreground;
                                    font-size: $h5;
                                    line-height: $lh5;
                                    letter-spacing: 0.2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }