@use "global" as *;

/*
 * General
 * Custom Class
 */

/* General */
    body:not(.wp-admin) {
        font-family: $primary-font;
        font-size:$h5;    
        line-height: $lh5;
        color:$foreground;
        background-color:$background;
    }

    body, button, input, select, textarea {
        font-family: $primary-font;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
        color:$dark;
    }

    input,
    textarea {
        font-size: $h5;
    }

    h1,
    .h1,
    .has-h-1-font-size {
        font-size: $h1;       
        line-height: $lh1;
        
        @media( max-width:$sm ) {
            font-size: $h3;
            line-height: $lh3;
        }
    }

    h2,
    .h2,
    .has-h-2-font-size {
        font-size: $h2;
        line-height: $lh2;

        @media( max-width:$sm ) {
            font-size: $h3;
            line-height: $lh3;
        }
    }

    h3,
    .h3,
    .has-h-3-font-size {
        font-size: $h3;	
        line-height: $lh3;
    }

    h4,
    .h4,
    .has-h-4-font-size {
        font-size: $h4;
        line-height: $lh4;

        @media( max-width:$sm ) {
            font-size: $h5;
            line-height: $lh5;
        }
    }

    h5,
    .h5,
    .has-h-5-font-size {
        font-size: $h5;
        line-height: $lh5;
    }

    h6,
    .h6,
    .has-h-6-font-size {
        font-size: $h6;
        line-height: $lh6;
    }

    p,
    .has-paragraph-font-size {
        font-size:$h5;
        line-height: $lh5;
        margin-bottom:$spacing;
    }
    
    a,
    .entry-content a {
        color:$primary;
        text-decoration: none;
        
        &:hover, &:focus {
            color:$primary;
        }
    }

    input[type="text"], 
    input[type="email"], 
    input[type="url"],
    input[type="password"],
    input[type="search"], 
    input[type="tel"], 
    input[type="number"], 
    textarea, 
    select {
        color:$dark !important;
        background-color: $formbackground !important;
        border:1px solid $gray;
        padding:10px 12px;
        border-radius: 4px;

        &:focus,
        &:focus-visible {
            border-color:$primary;
            outline: none;
        }
    }

    select {
        background-image:url(../../img/down-arrow.svg);
        background-repeat:no-repeat;
        background-position:right 18px center;	    
        background-size:17px auto;    
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
        padding-right:53px;
    }

    /*input[type="email"]:hover, 
    input[type="month"]:hover, 
    input[type="number"]:hover, 
    input[type="password"]:hover,
    input[type="search"]:hover, 
    input[type="tel"]:hover,
    input[type="text"]:hover,
    input[type="time"]:hover,
    input[type="url"]:hover, 
    input[type="week"]:hover,
    select:hover, 
    textarea:hover,*/
    input[type="email"]:focus, 
    input[type="month"]:focus, 
    input[type="number"]:focus, 
    input[type="password"]:focus,
    input[type="search"]:focus, 
    input[type="tel"]:focus,
    input[type="text"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus, 
    input[type="week"]:focus,
    select:focus, 
    textarea:focus {
        border-color:transparent;
        box-shadow:0 0 0 2px $deepblue;        
    }

    button:not(.components-button),    
    input[type="submit"],    
    .woocommerce #respond input#submit, 
    .woocommerce a.button, 
    .woocommerce button.button, 
    .woocommerce input.button,
    .woocommerce #respond input#submit.alt, 
    .woocommerce a.button.alt, 
    .woocommerce button.button.alt, 
    .woocommerce input.button.alt {
        background-color: $primary !important;
        color:$background;
        border-radius: 4px;
        font-size: 18px;
        line-height: 24px;
        padding:12px 16px;
        font-weight: 500;

        &:hover,
        &:focus {                                    
            background-color:$formsubmithover !important;                
        }
    }
    
    input[type=radio] {
        margin-right:10px;
    }

    ::-webkit-input-placeholder {
        color: $middark;
    }

    :-ms-input-placeholder {
        color: $middark;
    }

    ::placeholder {
        color: $middark;
    }

    table {
        border-width: 1px;
    }

    /* Default Width */
    #page {
        max-width: 100%;

        .site-content {
            flex-direction: column;

            #primary {
                padding:0;
            
                #main {
                    margin:0;
                }
            }

            .featured-image,
            .post-image-above-header .inside-article .featured-image,
            .post-image-above-header .inside-article .post-image {
                margin-bottom:$spacing;

                @media( max-width:$sm ) {
                    margin-bottom:$spacing;
                }

                img {
                    border-radius: 24px;
                }
            }
            
            .entry-content,
            .entry-summary {
                width:100%;
                max-width: 100%;   
                margin:0 !important;   

                & > * {
                    margin-bottom:$spacing;
                }

                &:not(:first-child) {
                    margin-top:0;
                } 

                & > *:last-child {
                    margin-bottom:0;
                }

                .alignfull {
                    margin:0;
                }

                .alignwide {
                    max-width: $wide-width;
                    margin-left: auto;
                    margin-right: auto;

                    @media( max-width:$sm ) {
                        max-width: $mobile-wide-width;
                    }
                }

                & > :not(.alignwide) {
                    &:not(.alignfull) {
                        &:not(.alignleft) {
                            &:not(.alignright) {                                
                                &:not(.entry-attachment) {
                                    &:not(.is-style-slim) {
                                        max-width: $default-width;
                                        margin-left: auto;
                                        margin-right: auto;   

                                        @media( max-width:$sm ) {
                                            max-width: $mobile-default-width;
                                        }
                                    }                    
                                }                                
                            }
                        }
                    }
                }
            }
        }
    }    

    /* Container */
    .container,
    .entry-container > *,
    .wp-block-cover__inner-container {
        max-width:$default-width;
        margin-left: auto;
        margin-right: auto;    

        @media( max-width:$sm ) {
            max-width:$mobile-default-width;
        }
    }

    .wide-container {
        max-width:$wide-width;
        margin-left: auto;
        margin-right: auto;  

        @media( max-width:$sm ) {
            max-width:$mobile-wide-width;
        }
    }

    .slim-container {
        max-width:$slim-width;
        margin-left: auto;
        margin-right: auto;  

        @media( max-width:$sm ) {
            max-width:$mobile-slim-width;
        }
    }

    /* Title */
    .entry-header {
        padding-top:10px;
        margin-bottom: 30px;

        & > * {
            max-width: $default-width;
            margin-left: auto !important;
            margin-right: auto !important;  
            text-align: center;

            @media( max-width:$sm ) {
                max-width: $mobile-default-width;
            }
        }

        h1 {
            font-weight: 500;
            text-align: left;

            @media( max-width:$sm ) {
                font-size: $h2;
                line-height: $lh2;
            }
        }

        .page-heading-wrapper {
            margin:112px 0 0 0;

            @media( max-width:$sm ) {
                margin:56px 0 0 0;
            }

            .entry-container {

                .entry-title {        
                    max-width:$wide-width;
                    margin:0 0 $double-spacing 0;

                    @media( max-width:$sm ) {
                        margin: 0 0 $spacing 0;
                    }
                }

            }
        }
    }

    /* Gutenberg based color */
    .has-primary-color { color:$primary; }
    .has-secondary-color { color:$secondary; }
    .has-dark-color { color:$dark; }
    .has-foreground-color { color:$foreground; }
    .has-background-color { color:$background; }
    .has-menu-color { color:$menu; }
    .has-blue-color { color:$blue; }
    .has-lightblue-color { color:$lightblue; }
    .has-lightgray-color { color:$lightgray; }

    .has-primary-background-color { background-color:$primary; }
    .has-secondary-background-color { background-color:$secondary; }
    .has-dark-background-color { background-color:$dark; }
    .has-foreground-background-color { background-color:$foreground; }
    .has-background-background-color { background-color:$background; }
    .has-menu-background-color { background-color:$menu; }
    .has-blue-background-color { background-color:$blue; }
    .has-lightblue-background-color { background-color:$lightblue; }
    .has-lightgray-background-color { background-color:$lightgray; }

/* Custom Class */    
    .bold {
        font-weight: 700;
    }

    .center {
        justify-content: center;
    }

    .showmore {
    
    }

    .copyable {
        padding:8px 80px 8px 0;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        @media( max-width:$sm ) {
            margin-bottom: 14px;
        }

        &:hover,
        &:focus {
            overflow: hidden;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            box-shadow:0 0 0 1px $formborder;

            &:before {
                content:'Copy';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='16' viewBox='0 0 24 24' width='16' fill='%235f6368' focusable='false'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'%3E%3C/rect%3E%3C/g%3E%3Cg%3E%3Cpath d='M16,20H5V6H3v14c0,1.1,0.9,2,2,2h11V20z M20,16V4c0-1.1-0.9-2-2-2H9C7.9,2,7,2.9,7,4v12c0,1.1,0.9,2,2,2h9 C19.1,18,20,17.1,20,16z M18,16H9V4h9V16z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
                background-position: 12px center;
                background-repeat: no-repeat;
                background-size: 16px 16px;
                width:80px;
                height:36px;
                background-color: $formborder;
                color:#185abc;
                padding:8px 12px 8px 32px;
                position: absolute;            
                right:0;
                top:0;            
            }
        }        

        a {
            color:$foreground;
            text-decoration: underline;

            &:hover,
            &:focus {
                color:$foreground;
            }
        }
    }

    .phone {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%235f6368' viewBox='0 0 24 24' focusable='false'%3E%3Cpath d='M16.01 14.46l-2.62 2.62a16.141 16.141 0 0 1-6.5-6.5l2.62-2.62a.98.98 0 0 0 .27-.9L9.13 3.8c-.09-.46-.5-.8-.98-.8H4c-.56 0-1.03.47-1 1.03a17.92 17.92 0 0 0 2.43 8.01 18.08 18.08 0 0 0 6.5 6.5 17.92 17.92 0 0 0 8.01 2.43c.56.03 1.03-.44 1.03-1v-4.15c0-.48-.34-.89-.8-.98l-3.26-.65a.99.99 0 0 0-.9.27z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size:24px 24px;
        background-position: left center; 
    }

    .email {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%235f6368' viewBox='0 0 24 24' focusable='false'%3E%3Cpath d='M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-.8 2L12 10.8 4.8 6h14.4zM4 18V7.87l8 5.33 8-5.33V18H4z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size:24px 24px;
        background-position: left center;    
    }    

    .map {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%235f6368' viewBox='0 0 24 24' focusable='false'%3E%3Cpath d='M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z'%3E%3C/path%3E%3Ccircle cx='12' cy='9' r='2.5'%3E%3C/circle%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size:24px 24px;
        background-position: left center;    
    }

    .phone,
    .email,
    .map {
        padding-left:29px;
    }

    .copyable {
    
        &.phone,
        &.email,
        &.map {
            padding-left:36px;
        }
    }

    .marginbottom10 {
        margin-bottom: 10px;
    }

    .marginbottom40 {
        margin-bottom: 40px;
    }

    .nomarginbottom {
        margin-bottom:0 !important;
    }

    // Specifications
    .specifications {
        display: flex;
        flex-wrap: wrap;
        column-gap:80px;
        row-gap: 8px;

        .wp-block-group {
            width:calc( ( 100% - 160px ) / 3 );
            border-bottom: 1px solid $lightgray;
            display: flex;
            flex-wrap: wrap;
            padding-bottom:8px;
            align-items: center;

            @media( max-width:$md ) {
                width:calc( ( 100% - 80px ) / 2 );
            }

            @media( max-width:$sm ) {
                width:100%;
            }

            .wp-block > *:first-child,
            & > *:first-child {
                font-weight: 500;
                color:$dark;
                width:114px;
                padding-right: 20px;
                hyphens: auto;

                @media( max-width:$sm ) {
                    width:140px;
                }
            }

            .wp-block > *:last-child,
            & > *:last-child {
                flex:1;
            }


            p {
                margin:0;
            }
        }
    }

/* Flexslider */
    .flexslider {
        border:none;
        margin:0 0 29px;
        border-radius:0;
        background-color: transparent;
    }

    .flexslider:hover .flex-direction-nav .flex-prev {
        left:3%;
    }

    .flexslider:hover .flex-direction-nav .flex-next {
        right:3%;
    }

    .flex-direction-nav {
        
        a {
            width:36px;
            height:36px;
            background-color: #fff;
            margin:0;
            transform: translateY(-50%);
            border-radius: 100px;
            color:$primary;
            opacity: 1;
            box-shadow:0 1px 2px 0 rgba(0,0,0,.501);
            transition: .6s ease;
            font-weight: bold;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            fill:$primary;
            
            @media( max-width:$sm ) {
                width:25px;
                height:25px;
            }

            &:hover,
            &:focus {
                background-color:rgba(240,240,240,.8);
            }
        
            &:before {
                display: none;
            }

            &.flex-prev {
                left:3%;
            }

            &.flex-next {
                right:3%;
            }
        }    
    }

    .flex-control-nav {
        bottom:-29px;
    
        li {
            margin:0 4px
        }    
    }

    .flex-control-paging { 
        li {

            a {
                width:9px;
                height:9px;
                box-shadow:0 1px 2px 0 rgba(0,0,0,.501);
                background-color: rgba(255, 255, 255, 0.5);
                transition: background-color .6s ease;

                &:hover,
                &:focus {
                    background-color: rgba(255, 255, 255, 0.5);
                }

                &.flex-active {
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }       
        }
    }
    
/* Language Selector */
    select.gt_selector {
        border:1px solid $lightgray;
        padding-top:7px;
        padding-bottom: 7px;
        padding-left:12px;
        padding-right: 30px;
        background-color: transparent !important;
        background-position: right 10px center;
        background-size: 10px auto;        
    }

