@use "global" as *;

/* Header */    
    .site-header {   
        border-bottom: 1px solid $lightgray;        
        position: fixed;  
        width:100%;
        z-index: 100;
        background-color: #fff !important;

        .inside-header {
            padding:10px 0;
            max-width: $default-width;
            margin:0 auto;

            @media( max-width:$sm ) {
                max-width: 100%;
                padding-bottom: 0;
            }

            .site-branding-container {
                @media( max-width:$sm ) {
                    flex:1;
                    padding:0 0 0 20px;
                    margin-bottom:9px;
                }

                .site-logo {
                    max-width: 138px;
                    margin-right: 15px;

                    @media( max-width:$sm ) {
                        margin-right:0;
                    }

                    img {
                        width:100%;
                        height:50px;
                        object-fit: contain;

                        @media( max-width:$sm ) {
                            height:40px;
                        }
                    }
                }

                .site-branding {

                    @media( max-width:$sm ) {
                        margin:0 12px 0 19px;
                        text-align: center;
                        flex:1;

                        .main-title {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    a {
                        font-size: $h4;
                        line-height: $lh4;
                        font-weight: 700;

                        @media( max-width:$sm ) {
                            font-size: $h5;
                            line-height: $lh5;
                            font-weight: 500;
                        }
                    }
                }
            }

            #site-navigation {

                @media( max-width:$sm ) {
                    background-color: #fff;
                    margin:0 !important;
                }
            
                .inside-navigation {
                
                    #primary-menu.main-nav {

                        @media( max-width:$sm ) {
                            background-color: #fff;
                            border-top:1px solid $lightgray;
                        }
                    
                        ul.menu {
                        
                            li {
                                margin-left:36px;
                                
                                @media( max-width:$sm ) {
                                    background-color: #fff;
                                    margin-left:0;
                                    padding:20px;

                                    &:hover,
                                    &:focus {                                   
                                        background-color:$lightblue;
                                    }

                                }

                                &:first-child {
                                    margin-left:0;
                                }

                                &.current-menu-item {

                                    @media( max-width:$sm ) {
                                        background-color:$blue;

                                        &:hover,
                                        &:focus {                                   
                                            background-color:$lightblue;
                                        }
                                    }
                                
                                    a {
                                        color:$primary;
                                    }
                                }
                            
                                a {
                                    font-size: $h4;
                                    line-height: $lh4;
                                    font-weight: 500;
                                    color:$menu;
                                    padding:0;

                                    &:hover,
                                    &:focus {
                                        color:$primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .mobile-menu-control-wrapper {

                @media( max-width:$sm ) {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: 19px;
                    margin-bottom: 9px;
                    height:40px;
                }

                .menu-toggle {
                    padding:0;
                    background-color: transparent !important;
                    border:none;
                    border-radius: 0;
                    height:40px;

                    .gp-icon {
                        display: flex;

                        svg {
                            width:18px;
                            height:18px;
                        }
                    }
                }
            }
        }           
    }

    