@use "global" as *;

/* General */
    .entry-content {
    
        & > .woocommerce {
            padding-top:$spacing;
        }
    }

/* Select2 */
    .select2-container--default .select2-selection--single {
        /*border:1px solid #f4f4f4;*/
        border-radius: 0px;
        height:auto;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        /*color:$black;*/
        padding:9px 20px 9px 16px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top:50%;
        margin-top:-11px;
    }

/* Info Box */
    .woocommerce-checkout .sc_info_box {
        background-color:transparent;
        border:4px solid $background !important;
        padding:20px 25px !important;

        h3 {
            font-size:$h4;
            line-height: $lh4;
        }

        ul.show_hide_list {
            margin:0;
            padding:10px 0 0 0;

            li {

                input {
                    margin-left:0;
                }  
            }
        }
    }

/* Form */
    .woocommerce form .form-row label {
        font-weight: bold;
    }

/* Checkout */
    .woocommerce-billing-fields h3 {
        font-size:$h4;
        line-height: $lh4;
    }

    #order_review_heading {
        font-size:$h4;
        line-height: $lh4;
    }

/* Woocommerce Booking Calendar */
    .course-calendar-wrapper {

        .wc-bookings-availability-main-calendar-container  {
    
        }

        .wc-bookings-availability-main-events-container {
            display: none;
        }

        .gb-button {
            transition: $transition;
            cursor: pointer;
        
            &.button-active {
                background-color:$secondary;
            }        
        }
    }

    

     