@use "global" as *;

.shop-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap:60px;

    @media( max-width:$md ) {
        flex-direction: column;
        gap:0;
    }

    &.active {
    
        .shop-sidebar {
            display: block;
        }
    }

    .mobile-shop-sidebar {
        display: none;

        @media( max-width:$sm ) {
            display: block;
        }

        .mobile-shop-sidebar-heading {
            font-size: 12px;
            line-height:12px;
            font-weight: 700;
            margin-bottom: 5px;
            color:#9aa0a6;
            text-transform: uppercase;
        }

        .mobile-shop-cat {
            display: inline-flex;
            margin-bottom: 10px;

            .current-cat {
                color:#4285f4;
                font-size: 24px;
                line-height: 32px;
                margin-right: 5px;
                font-weight: 500;
            }

            svg {
                fill:#4285f4;
            }
        }
    }

    .shop-sidebar {
        width:240px;     
        border:1px solid $lightgray;
        border-radius: 8px;
        align-self: start;

        @media( max-width:$sm ) {
            display: none;
            position: fixed;
            width:100%;
            height:calc( 100vh - 60px );
            background-color: #f8f9fa;
            border:none;
            border-radius: 0;
            margin-left:-16px;
            margin-top:-16px;
            overflow-y: auto;
            z-index: 100;
            padding:0 16px 16px 16px;
        }

        .shop-sidebar-heading {
            font-size: 20px;
            line-height: 20px;
            font-weight: 700;
            color:#80868b;
            padding:20px 18px;
            border-bottom: 1px solid $lightgray;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media( max-width:$sm ) {
                padding-right: 12px;             
            }

            svg {
                display: none;
                fill:#5f6368;
                cursor: pointer;

                @media( max-width:$sm ) {
                    display: block;
                }
            }
            
        }   

        .shop-sidebar-content {
        
            a {
                padding:15px 18px 15px 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                color:$foreground;

                &.active {
                    background-color: $blue;
                    color:$primary;

                    & > span:first-child {
                        color:$primary;
                    }
                }

                & > span:first-child {
                    font-size: $h4;
                    line-height: $lh4;
                    font-weight: 500;
                    color:$dark;
                }
            }
        }
    }

    .shop-content-wrapper {
        flex:1;
        max-width: 100%;
        margin-bottom: 50px;

        .shop-heading-wrapper {            
            padding:0 0 20px 0;
            border-bottom: 1px solid $lightgray;
            margin:0 0 20px 0;

            @media( max-width:$sm ) {
                padding:0;
                border-bottom:none;
            }

            &.contact-box-enlarge-limit {
            
                &.active {

                    .shop-heading {
                    
                        button {
                            display: none;
                        }
                    }
                
                    .shop-contactform {
                        display: block;
                    }

                    .contactus-wrapper {

                        .contactus-close {
                            display: block !important;
                        }  
                    
                        .form-row {
                            margin:0;
                            padding:0;

                            &:after,
                            &:before {
                                display: none;
                            }

                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .shop-heading {
                display: flex;
                justify-content: space-between;
                gap:24px;

                @media( max-width:$sm ) {
                    flex-direction: column;
                }

                h1 {
                    font-weight: 500;
                    margin-bottom: 10px;
                    color:$dark;
                    flex:1;

                    @media( max-width:$sm ) {
                        display: none;
                    }
                }

                .shop-heading-left {

                    @media( max-width:$sm ) {
                        margin-bottom: 0 !important;
                    }
                }

                .shop-heading-right {

                    /*@media( max-width:$sm ) {
                        display: none;
                    }*/

                    button {
                        width:100%;
                        max-width: 280px;                        
                    }
                }

                &.shop-heading-archive-category {
                
                    .shop-heading-left {
                        flex:1;
                        margin-bottom: 20px;
                    }

                    .shop-heading-right {
                        width:100%;
                        max-width: 280px;
                        padding-top:47px;

                        @media( max-width:$sm ) {
                            padding-top:0;
                        }
                    }
                }
            }

            .shop-contactform {
                display: none;
            }
        }

        .shop-content {
            padding:0 0 20px 0;
            border-bottom: 1px solid $lightgray;
            margin:0 0 20px 0;
        }

        .product-list-wrapper {

            .product-list-heading {
            
            }

            .product-list {
                display: flex;
                flex-wrap: wrap;
                column-gap: 26px;
                row-gap: 20px;

                @media( max-width:$sm ) {
                    gap:6px;
                }

                .product {
                    list-style-type: none;
                    width:calc( ( 100% - 78px ) / 4 );
                    border:1px solid $lightgray;
                    border-radius: 8px;
                    overflow: hidden;

                    @media( max-width:$sm ) {
                        width:calc( ( 100% - 6px ) / 2 );
                    }

                    .woocommerce-LoopProduct-link {
                        padding-bottom: 4px;
                        display: flex;
                        flex-direction: column;
                        height:100%;
                    
                        .woocommerce-loop-product__title {
                            font-size: $h4;
                            line-height: $lh4;
                            font-weight: 500;
                            margin:0;
                            padding:11px 16px 3px 16px; 
                            height:54px;
                            overflow: hidden;
                        }

                        .product-list-price-wrapper {
                            padding:5px 16px 8px 16px;
                            align-self: flex-end;
                            color:$foreground;
                            display: flex;                            
                            flex:1;
                            width: 100%;
                            align-items: flex-end;

                            .product-list-price {
                               
                            }
                        }
                    }

                    .button {
                        display: none;
                    }
                }
            }
        }
    }
}

.mobile-contact-wrapper {
    display: none;

    /*@media( max-width:$sm ) {
        display: block;
    }*/

    .mobile-contact-button {
        padding:16px 38px 16px 38px;
        position: fixed;
        left:50%;
        transform: translateX(-50%);
        z-index: 100;
        width: auto;
        background-color: #174ea6;
        color:#fff;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.5);
        font-size: 14px;
        line-height: 16px;
        border-radius: 24px;
        bottom:26px;
        font-weight: 500;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: #174ea6;
        }
    }

    .mobile-contact-overlay {
        display: none;
        position: fixed;
        z-index: 100;
        background-color: rgba(32,33,36,.6);
        left:0;
        right:0;
        top:0;
        bottom: 0;

        .mobile-contact-slide {
            background-color: #fff;
            border-radius: 10px 10px 0 0;
            box-shadow: 0 -1px 2px rgba(0,0,0,.3);
            position: fixed;
            z-index: 101;
            transition: transform .2s ease-out;
            bottom:0;
            left:0;
            right:0;

            .mobile-contact-handle {
                background-color: #dadce0;                
                border-radius: 50px;
                height: 4px;
                margin: 16px auto;
                width: 24px;                
            }

            .mobile-contact-content {
                padding:0 16px;
            }
        }
    }
}

