@use "global" as *;

.single-product {

    // General
    article.product {
        
    }

    // Gallery
    #singleproduct-thumb {
        @media( max-width:$sm ) {
            max-width: 380px; 
        }
    }

    // Breadcrumbs
    .woocommerce-breadcrumb {
        margin-bottom: 10px !important;

        &:before,
        &:after {
            display: none;
        }
    }

    .productcat-breadcrumb {
        max-width: $default-width;
        margin-left:auto;
        margin-right: auto;

        @media( max-width:$sm ) {
            max-width: $mobile-default-width;
        }

        a {
            display: flex;
            align-items: center;
            font-weight: 500;

            svg {
                width:20px;
                height:20px;
                fill:$primary;
            }
        }        
    }

    //Top
    .singleproduct-top {
        display: flex;
        flex-wrap: wrap;
        gap:20px;
        border-bottom:1px solid $lightgray;

        @media( max-width:$sm ) {
            flex-direction: column;
        }
    
        .woocommerce-product-gallery {
            float:none !important;
            flex:0 0 380px;
            display: flex;
            flex-direction: column;
            margin-bottom: 0 !important;

            .flex-viewport {
                margin-bottom: 11px;
            }

            & > .flex-control-nav {
                display: none;            
            }

            .woocommerce-product-gallery__image {
                border-radius: 4px;                                

                img {
                    width:100%;
                    aspect-ratio: 1/1;
                    border:1px solid $lightgray;
                    object-fit: contain;
                    object-position: center;
                    border-radius: 4px;                          
                }

                .zoomImg {
                    display: none !important;
                }

                .wpcpv-item.wpcpv-item-image {
                    display: none;
                }

                .wpcpv-item.wpcpv-item-video{
                    width:64px;
                    height:64px;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    background-color: transparent;

                    &:before {
                        content:'';
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' focusable='false' fill='%23185abc'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'%3E%3C/path%3E%3C/svg%3E");
                        background-color: #fff;
                        border-radius: 100%;
                        color: #185abc;
                        opacity: .9;
                        width:64px;
                        height:64px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        
                    }                
                }
            }

            .singleproduct-thumb-nav-slider {
                order:1;
                margin-bottom: 31px;

                .flex-viewport {
                    position: relative;
                    margin:0;

                    .slides {

                        li {
                            border-radius: 4px;
                            overflow: hidden;
                            border:1px solid $lightgray;
                            height:62px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            &.hasVideo {
                                position: relative;
                            
                                &:after {
                                    content:'';
                                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' focusable='false' fill='%23185abc'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'%3E%3C/path%3E%3C/svg%3E");
                                    background-color: #fff;
                                    border-radius: 100%;
                                    color: #185abc;
                                    opacity: .9;
                                    width:32px;
                                    height:32px;
                                    background-size: contain;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    top:50%;
                                    left:50%;
                                    transform: translate(-50%, -50%);
                                }
                            }

                            &.flex-active-slide {
                                border:1px solid $deepblue;
                            }

                            img {
                                width: 100%;
                                height:100%;
                                object-fit: contain;
                                object-position: center;
                            }
                        }
                    }

                    &:hover {
                    
                        & + .flex-direction-nav {
                            opacity: 1;
                        
                            li {
                            
                                a {
                                    opacity:1;

                                    &:hover {
                                        background-color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }

                .flex-direction-nav {                    
                    display: flex;
                    opacity: 0;

                    li {
                        flex:1;
                    }

                    li > a:not(.flex-disabled) {                        
                        transition: none;
                        z-index: 100;
                        position: absolute;                        
                        opacity: 1 !important;
                    }

                    &:hover {
                        opacity: 1;
                    
                        li > a,
                        li:hover > a {
                            opacity: 1 !important;
                        }

                        a {
                            background-color: #fff;

                            &:hover {
                                opacity: 1 !important;
                            }
                        }
                    }
                }
            }
        }

        .singleproduct-top-right {
            flex:1;
            display: flex;
            gap:20px;
            flex-wrap: wrap;            

            .summary {
                float:none !important;
                flex:1;
                position: relative;                
                display: flex;
                gap:20px;
                flex-wrap: wrap;

                @media( max-width:$md ) {
                    padding-right: 0;
                }

                .summary-content {
                    flex:1;
                    margin-bottom: 20px;

                    h1.product_title {
                        margin-bottom: 10px !important; 
                        font-size: $h3;
                        line-height: $lh3;
                    }

                    .shipping-details {
                    
                        h4 {
                            margin-bottom: 10px;
                        }
                    }
                }

                .contact-box-floating {
                    width:280px;
                    margin-bottom: 20px !important;                     
                }

                .contactus-wrapper {

                    .contactus-close {
                        display: block !important;
                    }                    

                    .form-row {
                        margin:0;
                        padding:0;

                        &:after,
                        &:before {
                            display: none;
                        }

                        p {
                            margin-bottom: 0;
                        }
                    }
                }

                &.contact-box-enlarge-limit {

                    &.active {
                        padding-right:0;

                        .summary-content {
                        
                            & > *:not(.product_title) {
                                display: none;
                            }

                            & > .contact-box-contactform-form {
                                display: block;
                            }
                        }

                        .contact-box-floating {
                            display: none;
                        }                        
                    }
                }
            }
        }
    }

    .singleproduct-keyfeatures {
        border-radius: 4px;            
        padding:20px;
        border:1px solid $lightgray;

        ul {
            margin:0;
            padding-inline-start: 20px;

            li {
                margin-bottom: 10px;
            }
        }

        p:empty {
            display: none;
        }

        .moretag-link {
            color:#185abc;
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            
            svg {
                fill:#185abc;
            }
        }

        .moretag-extended {
            display: none;
        }
    }

    .singleproduct-content {
        padding:40px 0 40px 0;

        & > h2 {
            margin-bottom: 30px;
        }

        & > h3 {
            margin-bottom: 28px;
        }

        & > ol,
        & > ul {
            margin-left: 0; 
            padding-inline-start: 20px;            
        }
    }

    // Sharer
    .share-wrapper {
        position: relative;      
        padding-top:6px;
        margin-bottom: 26px;  

        .share-button {
            border:1px solid $lightgray;
            border-radius: 4px;
            background-color: $background;
            display: inline-flex;
            align-items: center;
            padding:7px 16px 7px 11px;
            cursor: pointer;
            transition: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
            user-select: none;

            &:hover,
            &:focus {
                background-color: #f6fafe;                
            }

            &.active {
                background-color: #e3eefc;
                border-color:$primary;
            
                & + .share-float-box-wrapper {
                    display: block;
                }
            }
        
            & > svg {
                width:18px;
                height:18px;
                fill:$primary;
                margin-right: 8px;
            }

            .share-text {
                font-weight: 500;
                color:$primary;
            }        
        }

        .share-float-box-wrapper {
            position: absolute;
            top:62px;
            left:7px;
            display: none;

            .share-float-box {
                border-radius: 8px;
                background-color: $background;
                max-width: 480px;
                box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
            
                .share-float-content {                    
                    padding:20px 27px 29px 28px;

                    .share-float-heading {
                        font-weight: 500;
                        letter-spacing: 0.25px;
                        margin-bottom: 16px;
                        color:$dark;
                    }

                    .share-float-row {
                        display: flex;
                        gap:43px;
                        justify-content: space-evenly;                        

                        & > a {
                            flex:1;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;

                            &.share-wa-link {
                            
                                img {
                                    background-color: #25d366;
                                    border-radius: 4px;
                                }
                            }

                            & > img {
                                margin-bottom: 11px;
                                width:28px;
                                height:28px;
                            }

                            & > .share-float-name {
                                color:$foreground;
                            }
                        }
                    }
                }

                .share-float-arrow {
                    top: 0px;
                    left: 24px;
                    transform: rotate(-35deg) skewY(-20deg) scaleX(0.939693);
                    transform-origin: left top 0px;
                    border-bottom-right-radius: 0px;
                    border-top-left-radius: 0px;
                    background-color: $background;
                    position: absolute;
                    height: 24px;
                    width: 24px;
                }

                .share-float-arrow-shadow {
                    top: 0px;
                    left: 24px;
                    transform: rotate(-35deg) skewY(-20deg) scaleX(0.939693);
                    transform-origin: left top 0px;
                    border-bottom-right-radius: 0px;
                    border-top-left-radius: 0px;
                    background-color: $background;
                    position: absolute;
                    height: 24px;
                    width: 24px;
                    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
                    outline: 1px solid transparent;
                    z-index: -1;
                }
            }
        }
    }

    // Pricelist
    .table-responsive {
        max-width: 100%;
        overflow-x: auto;
    }

    .pricelist-wrapper {        

        h4 {
            margin-bottom: 10px;
        }

        .pricelist-description {
            margin-bottom: 10px;
        }

        table {
            border:1px solid $lightgray;            
            max-width:300px;
            width:100%;
            margin:0 0 20px 0;            
            border-radius: 4px;
        }

        th,
        td {
            border:none;
            border-right:1px solid $lightgray;
            text-align: left;

            &:last-child {
                border-right:0;
            }
        }

        th {
            border-top:1px solid $lightgray;
            font-weight: 400;
            padding:10px;
        }

        td {            
            border-top:1px solid $lightgray;
            padding:10px;
        }

        tr {

            &:first-child {
            
                th,
                td {
                    border-top: none;
                }
            }
        }
    }
    

    // Styling List under tab description    
    .woocommerce-Tabs-panel {
    
        &#tab-description {
    
            & > ul {
                list-style-type: none;

                li {
                    margin-bottom: 10px;
                    position: relative;      
                    padding-left:20px;              

                    &:before {
                        content:'';
                        position:absolute;
                        width:8px;
                        height:8px;
                        top:8px;
                        left:0;
                        background-color: $secondary;
                    }
                }

                ul {
                    padding-top:10px;
                    list-style-type: none;
                    margin-left:10px;
                }
            }
        }
    }

    // Booking Calendar
    .wc-bookings-date-picker {
        padding:0;
    }

    // Hide booking calendar on online course product cat
    .product_cat-online-courses {

        .wc-bookings-date-picker {
            display: none;
        }
    }
}

// Related Products
.related.products {
    margin-bottom: 39px;

    .relatedproducts-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    
        h2 {
            margin:0;
        }
    }

    .relatedproducts-content-wrapper {
        display:flex;
        gap:20px;
        width:100%;

        .flexslider {
            margin-bottom:0;
            width:100%;

            .slides,
            .flex-direction-nav {
                margin-bottom: 0 !important;
            }

            .flex-direction-nav a.flex-prev {
                left:-18px;
            }

            .flex-direction-nav a.flex-next {
                right:-18px;
            }

            &:hover,
            &:focus {

                .flex-direction-nav a.flex-prev {
                    left:-18px;
                }

                .flex-direction-nav a.flex-next {
                    right:-18px;
                }
            }
        }

        .relatedproducts-link {
            display: block;           
            text-decoration: none; 
            border-radius: 8px;
            margin:10px 0;

            &:hover,
            &:focus {
                box-shadow:0 4px 8px 3px $lightgray;
            }

            .relatedproducts-wrapper {
                display: flex;
                border-radius: 8px;
                overflow: hidden;
                border:1px solid $lightgray;
                flex-direction: column;
            
                .relatedproducts-image {
                    flex:1;

                    img {
                        width:100%;
                        height:100%;
                        object-fit: cover;
                        aspect-ratio: 1/1; 
                    }
                }

                .relatedproducts-content {
                    flex:1;       
                    padding:11px 16px;                       

                    .relatedproducts-content-inner {                        
                        overflow: hidden;
                    
                        h4 {
                            margin:0 0 8px 0;
                            height:40px;
                            max-height: 40px;
                            overflow: hidden;
                        }

                        span {
                            color:#1a73e8;
                        }
                    }                    
                }
            }
        }
    }    
}

