@use "global" as *;

.slider-group-block-wrapper {

    @media( max-width:$sm ) {
        /*max-width: 100% !important;*/
    }

    &.carousel-style {

        .slider-item-wrapper  {
            
            img {
                border:1px solid $lightgray;
                border-radius: 8px;
                overflow: hidden;
            }

            .slider-item-caption {
                text-transform: uppercase;
                font-style: italic;
                color:#80868b;
                margin-top:5px;
            }
        }

        .flexslider {
            margin-bottom:0;
            width:100%;

            .flex-direction-nav a.flex-prev {
                left:-18px;
            }

            .flex-direction-nav a.flex-next {
                right:-18px;
            }

            &:hover,
            &:focus {

                .flex-direction-nav a.flex-prev {
                    left:-18px;
                }

                .flex-direction-nav a.flex-next {
                    right:-18px;
                }
            }
        }
    }
}