@use "global" as *;

.featured-products-block-wrapper {

    .featured-products-block-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    
        h2 {
            margin:0;
        }
    }

    .featured-products-block-content {
        display:flex;
        flex-wrap: wrap;
        column-gap:35px;
        row-gap:30px;
        width:100%;

        .featured-product-link {
            display: block;
            width:calc( ( 100%  - 70px ) / 3 );
            border-radius: 8px;

            @media( max-width:$md ) {
                width:calc( ( 100%  - 35px ) / 2 );
            }

            @media( max-width:$xs ) {
                width:100%;
            }

            &:hover,
            &:focus {
                box-shadow:0 4px 8px 3px $lightgray;
            }

            .featured-product-wrapper {
                display: flex;
                border-radius: 8px;
                overflow: hidden;
                border:1px solid $lightgray;
                height: 100%;
                flex-direction: column;                
            
                .featured-product-image {
                    flex:1;
                    height:370px;
                    position: relative;                    

                    img {
                        width:100%;
                        height:100%;
                        object-fit: cover;
                    }

                    .featured-product-cat {
                        position: absolute;
                        padding:4px 8px;
                        border:1px solid $lightgray;
                        border-radius: 4px;
                        top:10px;
                        left:10px;
                        background-color: $background;
                        font-weight: 500;
                        color:$dark;
                    }
                }

                .featured-product-content {
                    flex:1;                                
                    max-width: 100%;

                    .featured-product-content-inner {
                        padding:15px 20px;
                        color:$foreground;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height:100%;

                        @media( max-width:$sm ) {
                            padding:12px 16px;
                        }

                        h3 {
                            margin-bottom: 0;
                            font-size: $h4;
                            line-height: $lh4;
                            height:20px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }

                        .product-list-price-wrapper {
                            margin-bottom: 10px;

                            .product-list-price {
                            
                            }
                        }

                        p {
                            margin-bottom: 0;
                        }

                        .featured-product-content-excerpt {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;    

                            p {
                                text-overflow: ellipsis;
                                overflow: hidden; 
                            }                          
                        }

                        span {
                            display: none;
                        } 
                    }
                }
            }
        }
    }

    &.horizontal-style {
    
        .featured-products-block-header {
        
            a {
                display: none;
            }
        }

        .featured-products-block-content {
            gap:20px;
        
            .featured-product-link {
                width:calc( ( 100%  - 20px ) / 2 );

                @media( max-width:$sm ) {
                    width:100%;
                }

                .featured-product-wrapper  {
                    flex-direction: row;                    

                    .featured-product-image {
                        flex:1;
                        height:auto;
                        display: flex;

                        img {
                            aspect-ratio: 1/1;
                            height:auto;
                        }

                        .featured-product-cat {
                            display: none;
                        }
                    }

                    .featured-product-content {
                        max-width: 50%;

                        .featured-product-content-inner {
                            height: auto;
                            padding:24px 30px;

                            @media( max-width:$sm ) {
                                padding:12px;
                            }

                            h3 {
                                height: 40px;
                                overflow: hidden;
                                text-overflow:initial;
                                white-space:normal;
                                margin-bottom: 10px;

                                @media( max-width:$sm ) {
                                    height:40px;
                                }
                            }

                            

                            .product-list-price-wrapper {     
                                display: none;                           

                                .product-list-price {
                                    
                                }
                            }

                            .featured-product-content-excerpt {
                                white-space: normal;
                                height:60px;   
                                margin-bottom: 24px;                             
                            }

                            span {
                                display: inline;
                                align-self: start;
                            }

                            .showmore {
                            
                                @media( max-width:$sm ) {
                                    display: none;
                                }
                            }
                        }
                    }
                 }            
            }
        }
    }
}

.showmore {
    font-size: $h5;
    line-height: $lh5;
    font-weight: 500;
    color:$primary;
    position: relative;
    padding-right: 20px;
    text-decoration: none;

    &:after {
        content:'';
        -webkit-mask-image:url(../../img/showmore.svg);
        mask-image:url(../../img/showmore.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat; 
        -webkit-mask-position:center;
        mask-position: center;
        -webkit-mask-size:20px 20px;
        mask-size:20px 20px;            
        width:20px;
        height:20px;
        background-color:$primary;            
        position:absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);            
        display: block;
    }
}