/*
 * Variables 
 * Mixins
 */

/* Variables */        
    :root {
        --wp--style--block-gap: 25px;
        --base-2: #ffffff;
        --contrast: #202124;
        --accent: #185abc;
        --content-width:1180px;
        --wp-admin-theme-color: #2271b1;
        --wp-admin-theme-color-darker-10:#006ba1;        
    }

    $half-spacing: 10px;
    $spacing: 20px;
    $double-spacing: 40px;

    $xl: 1439px;
    $lg: 1199px;
    $md: 991px;
    $sml: 781px;
    $sm: 768px;
    $xs: 576px;

    $slim-width: min(calc(100vw - 40px ), 860px );
    $default-width: min(calc(100vw - 40px ), 1180px );
    $wide-width: min(calc(100vw - 40px ), 1440px );

    $mobile-slim-width: min(calc(100vw - 32px ), 860px );
    $mobile-default-width: min(calc(100vw - 32px), 1180px );
    $mobile-wide-width: min(calc(100vw - 32px), 1440px );

    $primary:#185abc;
    $secondary: #185abc;
    $dark: #202124;
    $foreground: #5f6368;
    $background: #ffffff;
    $menu: #3c4043;
    $middark: #838489;
    $blue: #e8f0fe;
    $deepblue: #4285f4;
    $lightblue: #f8f9fa;
    $formbackground:#f6f9ff;
    $formborder:#d2e3fc;
    $formsubmithover:#174ea6;
    $gray: #bdc1c6;
    $lightgray: #dadce0;

    $success: yellowgreen;
    $info: skyblue;
    $warning: gold;
    $error: #c5221f;
    $invalid: #ea4335;

    $primary-font:'Roboto';

    $h1: 26px; /* 30 */
    $h2: 20px; /* 24 */
    $h3: 20px;
    $h4: 16px;
    $h5: 14px;
    $h6: 12px;

    $lh: 1.2;
    $lh1: 36px;
    $lh2: 30px;
    $lh3: 30px;
    $lh4: 20px;
    $lh5: 20px;
    $lh6: 25px;

    $transition: all 0.2s ease 0s;
    $border-radius:10px;