@use "global" as *;

/* Label */
    .wpcf7-form label {
        font-size: $h5;
        line-height: $lh5;
        font-weight: 500;
        color:$dark;
        letter-spacing: 0.2px;
        margin-bottom: 20px;
    }

/* Response */
    .wpcf7 form .wpcf7-response-output {                
        margin:10px 0;
        border-radius: 3px;
        padding:14px 16px;
        border-width: 1px;
    }

    .wpcf7 form.sent .wpcf7-response-output {
        border-color: #a8dab5; /* Green */
        background-color: #e6f4ea;
        color:#0d652d;       
    }

    .wpcf7 form.failed .wpcf7-response-output,
    .wpcf7 form.aborted .wpcf7-response-output {
        border-color: #dc3232; /* Red */
        background-color: #fbc7c7;
        color:#dc3232;
    }

    .wpcf7 form.spam .wpcf7-response-output {
        border-color: #f56e28; /* Orange */
        background-color: #fad6c4;
        color:#f56e28;
    }

    .wpcf7 form.invalid .wpcf7-response-output,
    .wpcf7 form.unaccepted .wpcf7-response-output,
    .wpcf7 form.payment-required .wpcf7-response-output {
        border-color: #ffb900; /* Yellow */
        background-color: #fef9eb;
        color:#ffb900;
    }

/* Tooltip */
    .wpcf7-form label span.wpcf7-not-valid-tip,
    .wpcf7-not-valid-tip {
        color:$invalid;
        margin-top:10px;
    }

/* Input */
    .wpcf7-form-control-wrap {
        padding:0;
    }

    .required {
        color:$error;
        font-style: italic;
        font-weight: 500 !important;
    }

/* Textarea */
    .single-row-textarea {
        height:43.5px;
    }

/* Radio */
    .wcpf7-radio {
        margin-top:11px;
    }

/* List */
    .wpcf7-list-item {
        margin:0 15px 12px 0;

        label {
        
            .wpcf7-list-item-label {
                color:$dark;
            }
        }
    }

/* Row Column */
    .form-row {
        display: flex;
        gap:20px;
    }

    .form-column {
        display: flex;
        align-items: flex-end;
    }

/* Submit */
    .wpcf7-form.submitting {

        .wpcf7-submit {
            position: relative;
            transition: none;
        }

        .wpcf7-spinner {
            margin-top:5px;
            display: inline-block;
        }
    }

    .wpcf7-form {
    
        .wpcf7-spinner {
            display: none;
        }
    }

/* Extra Class - Submit Wrapper */
    .form-submit {
        padding:18px 0 0 0;

        p {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom:0;

            .wpcf7-submit {
                margin-bottom:7px;
            }

            .wpcf7-spinner {
                display: block;
            }
        }
    } 

/* Styling Input File */
    #photo-attachment {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    #photo-attachment-label {
        display: flex;
        align-items: center;
        margin:0 0 15px 0;

        span {
            
            color:$dark;
        }
    }

    #photo-attachment-trigger {
        cursor: pointer;     
        width:120px;
        display: block;

        &:hover,
        &:focus {
        
            #photo-attachment-preview:after {
                background-color: $primary;
            }
        }

        &:focus {
            outline: 1px dotted #000;
	        outline: -webkit-focus-ring-color auto 5px;
        }

        & * {
            pointer-events: none;
        }
        
        strong {
            display: flex;
            align-items: center;
        }

        .wpcf7-form-control-wrap {
            padding:0;
        }
    }

    #photo-attachment-preview {
        width:120px;
        height:120px;
        background-color: #fff;
        border-radius: 8px;        
        overflow: hidden;
        display: block;
        position: relative;

        &:hover,
        &:focus {

            background-color: $primary;
        
            &:after {
                background-color: $primary !important;
            }
        }

        &:after {
            content:'';
            -webkit-mask-image:url(../../img/attachment-preview.svg);
            mask-image:url(../../img/attachment-preview.svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat; 
            -webkit-mask-position:center;
            mask-position: center;
            -webkit-mask-size:68px 52px;
            mask-size:68px 52px;
            background-color:$dark;        
            transition: $transition;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width:68px;
            height:52px;
        }

        &.file-added:after {
            display: none;
        }

        img {
            width:100%;
            height:100%;
            object-fit: cover;
            object-position: center;
        }
    }

    #photo-attachment-remove {
        display: flex;        
        width:15px;
        height:15px;
        border-radius: 50%;
        background-color: $dark;
        color:$background;
        cursor: pointer;
        margin-left:10px;
        align-items: center;
        justify-content: center;
        transition: $transition;

        &:hover,
        &:focus {
            background-color: $primary;
        }

        svg {
            fill:$background;
        }
    }